/CLpfServer/*.VC.db
/CLpfServer/*.VC.VC.opendb
/CLpfServer/*.vs
/CLpfServer/Debug
/CLpfServer/CLpfServer/Debug
/CLpfClient/*.VC.db
/CLpfClient/*.VC.VC.opendb
/CLpfClient/*.vs
/CLpfClient/Debug
/CLpfClient/CLpfClient/Debug